$fonts-path-Montserrat: "../../font/Gotham" !default;

//colors
$input-color: #EDEDED;
$background-red-color: #BB0100;
$red-color: #BB0100;
$black-color: #4F4F4F;
$gray-text-color: #7F7F7F;
$gray-color: #BFBFBF;
$white-color: #FFFFFF;