<div class="checkout-icon d-flex ">
    <div class="img-icon">
        <img src="../../assets/checkout/icon/address.svg">
        <span class="ms-2">Address</span>
    </div>
    <div class="img-icon">
        <img src="../../assets/checkout/icon/shipping.svg">
        <span class="ms-2">Shipping</span>
    </div>
    <div class="img-icon">
        <img src="../../assets/checkout/icon/address.svg">
        <span class="ms-2">Billing</span>
    </div>
    <div class="img-icon">
        <img src="../../assets/checkout/icon/billing.svg">
        <span class="ms-2">Payment</span>
    </div>
</div>