<footer>
    <div class="footer ">
        <div class="row m-0">
            <div class="footer-details col-md-5 ">
                <h2 class="footer-details-title">NeoSTORE</h2>
                <div class="footer-details-mail row rounded-1 m-0 ">
                    <i class="fa-solid fa-envelope text-danger col-auto align-self-center"></i>
                    <input type="text" class="text-danger email-input col border-0 fw-bold" name="emailAddress"
                        placeholder="Your email address " value="">
                    <button class="bg-danger text-white col-auto m-1 border-0 rounded-1 py-2">subscribe</button>
                </div>
                <p class="pt-34">Contact Info</p>
                <p>+91 12345 67890 | +91 12345 67890</p>
                <p>17 Princess Road, London, Greater London NW1 8JR, UK</p>
                <p class="img-logo">
                    <span class="circle facebook-icon me-2"><i class="fa-brands fa-facebook-f fa-xs"></i></span>
                    <span class="circle instagram-icon me-2"><i class="fa-brands fa-instagram fa-xs"></i></span>
                    <span class="circle twitter-icon me-2"><i class="fa-brands fa-twitter fa-xs"></i></span>
                </p>
                <!-- <div class="social-media">
                    <a href="#" title="facbook" class="facebook">
                        <i class="fa-brands fa-facebook "></i>
                    </a>
                    <a href="#" title="instagram" class="instagram">
                        <i class="fa-brands fa-instagram "></i>
                    </a>
                    <a href="#" title="fa-twitter" class="twitter">
                        <i class="fa-brands fa-twitter "></i>
                    </a>
                </div> -->
            </div>
            <div class="col-md-7 row m-0">
                <div class="col p-0">
                    <ul>
                        <li class="first-li">CATAGORIES</li>
                        <li><a href="#">Popular</a></li>
                        <li><a href="#">Chair</a></li>
                        <li><a href="#">Table</a></li>
                        <li><a href="#">Sofa</a></li>
                        <li><a href="#">Cupboard</a></li>
                        <li><a href="#">Lamp</a></li>
                    </ul>
                </div>
                <div class="col p-0">
                    <ul>
                        <li class="first-li">CUSTOMER SERVICE</li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Discount</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Orders History</a></li>
                        <li><a href="#">Order Tracking</a></li>
                    </ul>
                </div>
                <div class="col p-0">
                    <ul>
                        <li class="first-li">FURNITURE</li>
                        <li><a href="#">Living Room Furnituret</a></li>
                        <li><a href="#">Bar Furniture</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Kids Furniture</a></li>
                        <li><a href="#">Accent Furniture</a></li>
                        <li><a href="#">Book Shelves</a></li>
                    </ul>
                </div>
                <div class="col p-0">
                    <ul>
                        <li class="first-li">USEFUL LINKS</li>
                        <li><a href="#">Promotions</a></li>
                        <li><a href="#">Sitemap</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="redLine">
    <div class="d-flex justify-content-center align-items-center h-100">
        <p class="top-text m-0 redLine-text">©Neostore - All Rights Reserved</p>
    </div>
</div>