<div class="container">
    <div class="special-offer row m-0">
        <div class="special-offer-div">
            <div class="special-offer-border">
                <div class="special-offer-border-title">
                    <h1 class="special-offer-heading ">SPECIAL OFFER</h1>
                    <button class="special-offer-shop-now">end in 2d : 5h : 26m : 2s</button>
                </div>
                <div class="special-offers row">
                    <ng-container *ngFor=" let item of specialOffer">
                        <div class="special-offers-items-div m-auto col pb-5">
                            <div class="special-offers-items">
                                <p class="itemName">{{item.name}}</p>
                                <p class="special-offers-items-price">{{item.price}}</p>
                                <img src="{{item.imgLink}}" class="special-offers-items-images border-rounded-0  ">
                                <div class="special-offers-items-progress progess" style="height:10px">
                                    <div class="progress-bar bg-success" style="width:40%;height:10px"></div>
                                </div>
                                <div
                                    class="special-offers-items-available d-flex justify-content-between align-items-center">
                                    <div class="float-start">Available:{{item.Available}}</div>
                                    <div class="float-end">
                                        <!-- <meter class="average-rating" min="0" max="5" value="3.5">3.5</meter> -->
                                        <!-- <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star "></span>
                                        <span class="fa fa-star "></span> -->
                                        <ngb-rating [rate]="3" [max]="5" class="rating"></ngb-rating>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>