@import '../../assets/style/helpers/helpers-dir';

.special-offer {
    justify-content: center;

    @include breakpoint(lg) {
        margin: 0 50px;
    }

    // @include breakpoint(xl) {
    //     @include mx-100;
    // }

    .special-offer-div {
        display: flex;
        justify-content: center;
        padding: 0;

        .special-offer-border {
            margin-top: 110px !important;
            position: relative;
            width: 100%;

            @include breakpoint(lg) {
                border: 1px solid #E91B1A;
                padding: 0 60px;
            }

            &-title {
                text-align: center;

                @include breakpoint(lg) {
                    display: inline-flex;
                    transform: translate(8%, -50%);
                    background-color: white;
                    padding-right: 15px;
                }

                .special-offer-heading {
                    padding: 7px 12px;
                    background-color: white;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 45px;
                    letter-spacing: 0em;
                }

                .special-offer-shop-now {
                    background-color: #BB0100;
                    color: white;
                    border-radius: 2px;
                    width: 261px;
                    height: 59px;
                    border: #BB0100;
                    padding: 20px 35px;
                }
            }

            .special-offers {
                margin-top: 70px;
                margin-bottom: 46px;
                text-align: center;

                .special-offers-items-div {
                    min-width: 285px;
                    max-width: 350px;

                    .special-offers-items {
                        display: inline-block;
                        margin: auto;

                        .itemName {
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 24px;
                            text-align: left;
                        }

                        &-price {
                            color: #BB0100;
                            margin-bottom: 23px;
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 24px;
                            text-align: left;
                        }

                        &-images {
                            width: 100%;
                            // max-width: 330px !important;
                            // min-width: 330px !important;
                            // max-height: 330px !important;
                            // min-height: 330px !important;
                        }

                        &-progress {
                            margin-top: 30px;
                            background-color: #EDEDED;
                            border-radius: 5px;

                            .progress-bar {
                                border-radius: 5px;
                            }
                        }

                        &-available {
                            margin-top: 18px;

                            .rating {
                                color: #BFBFBF;
                                font-size: 20px;
                            }
                        }

                    }
                }
            }
        }
    }
}

.average-rating {
    position: relative;
    appearance: none;
    color: transparent;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    font-size: 25px;
}


.average-rating::before {
    --percent: calc(3.5/5*100%);
    content: '★★★★★';
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, gold var(--percent), rgba(0, 0, 0, 0.2) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.checked {
    color: yellow;
}