<app-headings [heading]="'BESTSELLERS'" [subHeading]="'Sitewide Discounts & Savings of up to 25%'">
</app-headings>

<div class="container">
    <div class="row m-0">
        <div class="col-12 col-md-6 col-lg-4 img-chair">
            <img src="/assets/bestSeller/image 1187 (1).png">
            <div class="product-details">
                <ngb-rating [rate]="3" [max]="5" class="rating"></ngb-rating>
                <h6 class="title">White Wooden Chair</h6>
                <p class="price"><span class="removed-price p-1"><del>₹8000.00</del></span>₹6000.00</p>
                <div class="image-icon">
                    <button (click)="change()" class="icon bg-transparent">
                        <img src="/assets/header/favourite.svg">
                    </button>
                    <button (click)="change()" class="icon bg-transparent">
                        <img src="/assets/header/cart.svg">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 img-chair">
            <img src="/assets/bestSeller/image 1187 (2).png">
            <div class="product-details">
                <ngb-rating [rate]="3" [max]="5" class="rating"></ngb-rating>
                <h6 class="title">White Wooden Chair</h6>
                <p class="price"><span class="removed-price p-1"><del>₹8000.00</del></span>₹6000.00</p>
                <div class="image-icon">
                    <button (click)="change()" class="icon bg-transparent">
                        <img src="/assets/header/favourite.svg">
                    </button>
                    <button (click)="change()" class="icon bg-transparent">
                        <img src="/assets/header/cart.svg">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 img-chair">
            <img src="/assets/bestSeller/image 1187 (3).png">
            <div class="product-details">
                <ngb-rating [rate]="3" [max]="5" class="rating"></ngb-rating>
                <h6 class="title">White Wooden Chair</h6>
                <p class="price"><span class="removed-price p-1"><del>₹8000.00</del></span>₹6000.00</p>
                <div class="image-icon">
                    <button (click)="change()" class="icon bg-transparent">
                        <img src="/assets/header/favourite.svg">
                    </button>
                    <button (click)="change()" class="icon bg-transparent">
                        <img src="./assets/header/cart.svg">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 img-chair">
            <img src="/assets/bestSeller/image 1187 (4).png">
            <div class="product-details">
                <ngb-rating [rate]="3" [max]="5" class="rating"></ngb-rating>
                <h6 class="title">White Wooden Chair</h6>
                <p class="price"><span class="removed-price p-1"><del>₹8000.00</del></span>₹6000.00</p>
                <div class="image-icon">
                    <button (click)="change()" class="icon bg-transparent">
                        <img src="/assets/header/favourite.svg">
                    </button>
                    <button (click)="change()" class="icon bg-transparent">
                        <img src="/assets/header/cart.svg">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 img-chair">
            <img src="/assets/bestSeller/image 1187 (6).png">
            <div class="product-details">
                <ngb-rating [rate]="3" [max]="5" class="rating"></ngb-rating>
                <h6 class="title">White Wooden Chair</h6>
                <p class="price"><span class="removed-price p-1"><del>₹8000.00</del></span>₹6000.00</p>
                <div class="image-icon">
                    <button (click)="change()" class="icon bg-transparent">
                        <img src="/assets/header/favourite.svg">
                    </button>
                    <button (click)="change()" class="icon bg-transparent">
                        <img src="/assets/header/cart.svg">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 img-chair">
            <img src="/assets/bestSeller/image 1187 (7).png">
            <div class="product-details">
                <ngb-rating [rate]="3" [max]="5" class="rating"></ngb-rating>
                <h6 class="title">White Wooden Chair</h6>
                <p class="price"><span class="removed-price p-1"><del>₹8000.00</del></span>₹6000.00</p>
                <div class="image-icon">
                    <button (click)="change()" class="icon bg-transparent">
                        <img src="/assets/header/favourite.svg">
                    </button>
                    <button (click)="change()" class="icon bg-transparent">
                        <img src="/assets/header/cart.svg">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>