<div class="container">
    <div class="row m-0 new-arrivals">
        <div class="col-12 col-lg-3 new-arrivals-img">
            <img src="/assets/newArrivals/Rectangle 221.png">
            <div class="sofa-style-details">
                <p class="new-arrivals-p">NEW ARRIVALS</p>
                <h4 class="title">Sofa Style 2021</h4>
                <p class="shop-now "><a href="#" class="text-white">Shop now</a></p>
            </div>
        </div>
        <div class="col-12 col-lg-6 new-arrivals-img ">
            <img src="/assets/newArrivals/Rectangle 223.png">
            <div class="sofa-style-details">
                <p class="new-arrivals-p">NEW ARRIVALS</p>
                <h4 class="title">Perfect fit for your home</h4>
                <p class="shop-now "><a href="#" class="text-white">Shop now</a></p>
            </div>
        </div>
        <div class="col-12 col-lg-3 new-arrivals-img">
            <img src="/assets/newArrivals/Rectangle 222.png">
            <div class="sofa-style-details">
                <p class="new-arrivals-p">NEW ARRIVALS</p>
                <h4 class="title">New Collection</h4>
                <p class="shop-now "><a href="#" class="text-white">Shop now</a></p>
            </div>
        </div>
    </div>
</div>