.signUp-title {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background: linear-gradient(90deg, #FAFAFA 0%, #FFFFFF 98.65%);

    background-image: url("../../assets/signupfrnewoffer.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;


    .subheading {
        font-size: 20px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0em;
    }

    .heading {
        font-size: 30px;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: 0em;
    }



    .search-wraper {
        width: 100%;
        padding: 6px 9px;
        color: #282627;
        max-width: 426px;
        border-bottom: 1px solid #000000;
        display: inline-flex;

        input {

            font-size: 20px;
            font-weight: 300;
            line-height: 20px;
            letter-spacing: 0em;
            border: 0;
            background: transparent;
            width: 100%;
            padding-right: 6px;
            padding: 13px
        }

        input:focus {
            outline: none;
        }

        .img-button {
            border: 0;
            background: transparent;
        }
    }




}