<app-headings [heading]="'FURNITURE FOR EVERY BUDGET'"
    [subHeading]="'From glam vibes to laid-back comfort, these sofas all have one thing in common—and that’s amazing value.'">
</app-headings>

<div class="container">
    <div class="row m-0 justify-content-center">
        <div class="col-auto col-md-6 col-xl-4 mb-3">
            <div class="card" style="max-width:400px">
                <div class="card-img-top">
                    <img src="/assets/furniture-for-every-budget/Rectangle 211.png" alt="Card image" style="width:100%">
                </div>
                <div class="card-body img-details">
                    <div>
                        <a href="#" class="text-decoration-none">
                            <h4 class="card-title">Sofas under</h4>
                            <p class="card-text price">₹12000.00</p>
                        </a>
                    </div>
                    <div>
                        <a href="#"> <button class="shop-now" (click)="shopNow()">Shop now</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto col-md-6 col-xl-4 mb-3">
            <div class="card" style="max-width:400px">
                <div class="card-img-top">
                    <img src="/assets/furniture-for-every-budget/Rectangle 211 (1).png" alt="Card image"
                        style="width:100%">
                </div>
                <div class="card-body img-details">
                    <div>
                        <a href="#" class="text-decoration-none">
                            <h4 class="card-title">Sofas under</h4>
                            <p class="card-text price">₹12000.00</p>
                        </a>
                    </div>
                    <div>
                        <a href="#"> <button class="shop-now" (click)="shopNow()">Shop now</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto col-xl-4 mb-3">
            <div class="card" style="max-width:400px">
                <div class="card-img-top">
                    <img src="/assets/furniture-for-every-budget/Rectangle 211 (2).png" alt="Card image"
                        style="width:100%">
                </div>
                <div class="card-body img-details">
                    <div>
                        <a href="#" class="text-decoration-none">
                            <h4 class="card-title">Sofas under</h4>
                            <p class="card-text price">₹12000.00</p>
                        </a>
                    </div>
                    <div>
                        <a href="#"> <button class="shop-now" (click)="shopNow()">Shop now</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>