<app-headings [heading]="'SHOP BY DEPARTMENT'"
    [subHeading]="'Sitewide Discounts & Savings of up to 25%'"></app-headings>
<div class="container">
    <div class="department row m-0">
        <ng-container *ngFor="let item of departMentList">
            <div class="department-list col m-2" [ngClass]="selectedItem.name == item.name ? 'selectetd-color' : ''"
                (click)="selectedItem = item">
                <div class="m-auto dept-block">
                    <img class="dept-img" src="{{item.imgLink}}">
                    <img class="dept-imgWhite" src="{{item.imgLinkWhite}}">
                    <h5 class="department-listName">{{item.name}}</h5>
                </div>
            </div>
        </ng-container>
    </div>
</div>