@import '../../assets/style/helpers/helpers-dir';

.department {
    margin-top: 57px;
    // @include mx-100;
    justify-content: center;

    &-list {
        display: flex;
        max-height: 188px;
        min-height: 188px;
        max-width: 188px;
        min-width: 188px;
        color: #7F7F7F;
        border: 0.5px solid #BFBFBF;


        .dept-imgWhite {
            display: none;
        }
    }

    .department-list:hover {
        background-color: $background-red-color;
        transition: transform .2s;
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        color: #FFFFFF;

        .dept-img {
            display: none;
        }

        .dept-imgWhite {
            display: block;
        }




    }

    &-listName {
        margin-top: 20px;
        text-align: center;

    }

    .selectetd-color {
        background-color: $background-red-color;
        color: white !important;

        .dept-imgWhite {
            display: block;
        }

        .dept-img {
            display: none;
        }
    }

}