<app-headings [heading]="'SHOP BY DEPARTMENT'"
    [subHeading]="'Sitewide Discounts & Savings of up to 25%'"></app-headings>
<div class="department row">
    <ng-container *ngFor="let item of departMentList">
        <div class="department-list col border border-2 border-dark m-2"
            [ngClass]="selectedItem.name == item.name ? 'selectetd-color' : ''" (click)="selectedItem = item">
            <div class="m-auto">
                <img src="{{item.imgLink}}">
                <h5 class="department-listName">{{item.name}}</h5>
            </div>
        </div>
    </ng-container>
</div>