<div class="banner">
    <div class=" banner-img">
        <swiper [slidesPerView]="1" [spaceBetween]="10" (swiper)="onSwiper($event)"
            (slideChange)="onSlideChange($event)" [navigation]="true" [pagination]="{ clickable: true }"
            [scrollbar]="{ draggable: true }">
            <ng-template swiperSlide>
                <img src="assets/Banner.png">
                <div class="banner-content-wrapper container">
                    <h2 class="description">Furniture 2022</h2>
                    <h4 class="new-arrival">NEW ARRIVALS</h4>
                    <h1 class="spring-collection">SPRING COLLECTION</h1>
                    <button class="shop-now" (click)="shopNow()">Shop now</button>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <img src="assets/banner2.png">
                <div class="banner-content-wrapper container">
                    <h2 class="description">Table 2022</h2>
                    <h4 class="new-arrival">NEW ARRIVALS</h4>
                    <h1 class="spring-collection">SPRING COLLECTION</h1>
                    <button class="shop-now" (click)="shopNow()">Shop now</button>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <img src="assets/Banner.png">
                <div class="banner-content-wrapper container">
                    <h2 class="description">Chair 2022</h2>
                    <h4 class="new-arrival">NEW ARRIVALS</h4>
                    <h1 class="spring-collection">SPRING COLLECTION</h1>
                    <button class="shop-now" (click)="shopNow()">Shop now</button>
                </div>
            </ng-template>
        </swiper>
    </div>
</div>