@import '../../assets/style/helpers/helpers-dir';

.all-heading {
    margin-top: 100px;
    text-align: center;
    font-family: Gotham;


    .heading {
        font-size: 30px;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: 0em;
        margin-bottom: 0;
    }

    .subHeading {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        color: #7F7F7F;
    }

    .hrLine {
        @include hrLine;
    }
}