<div class="above-header">
    <h4 class="above-header-title">MARKDOWNS: UP TO 70% OFF SHOP NOW</h4>
</div>
<div>
    <header>
        <nav class="nav">
            <a href="#" class="nav-title">NeoSTORE</a>
            <ul class="m-0 p-0">
                <li><a href="#">Home</a></li>
                <li><a href="#">Furniture</a></li>
                <li><a href="#">Home Decor</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Sale</a></li>
                <li><a href="#">More</a></li>
            </ul>
            <div class="search-fa">
                <div class="search">
                    <input placeholder="Search...">
                    <span class="fa fa-search search-icon"></span>
                </div>
                <div>
                    <i class="fa-solid fa-user icon"></i>
                    <i class="fa-solid fa-heart icon"></i>
                    <i class="fa-solid fa-cart-shopping icon"></i>
                </div>
            </div>
        </nav>
    </header>
</div>

<app-slider></app-slider>
<app-shop-by-department></app-shop-by-department>
<app-trending></app-trending>
<app-special-offer></app-special-offer>
<app-from-our-blog></app-from-our-blog>
<app-sign-up-offers></app-sign-up-offers>
<app-footer></app-footer>