@import '../../assets/style/helpers/helpers-dir';

.need-it-fast {
    margin-top: 100px;

    .main-div {
        // background: url(/assets/need-it-fast/need\ it\ fast.png);
        background-size: cover;
    }

}

.heading {
    color: $black-color;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 16.44px;
}

.subHeading {
    color: $gray-color;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    margin-top: 6.33px;
    margin-bottom: 21px;

}

.rectangle-img {
    position: relative;
    margin-bottom: 20px;

    img {
        width: 100%
    }

    .retangle-description {
        position: absolute;
        background: url(/assets/need-it-fast/Exclude.png);
        width: 100%;
        max-width: 431px;
        top: 104.47px;
        left: -17px;
        color: $white-color;
        background-size: 100% 100%;

        &-text {
            padding: 20px 0px 10px 58px;

            .title {
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
            }

            .heading1 {
                font-size: 30px;
                font-weight: 500;
                line-height: 48px;
                padding-bottom: 2px;

                @include breakpoint(sm) {
                    font-size: 40px;
                }
            }

            .subHeading1 {
                font-size: 18px;
                font-weight: 500;
                line-height: 22px;
            }

            .shop-now {
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
                color: $white-color;

            }
        }


    }
}

.img-items {
    position: relative;
    max-width: 320px;
    margin: auto;

    img {
        width: 100%;
    }
}

.off {
    position: absolute;
    background-color: $background-red-color;
    width: 50px;
    height: 50px;
    top: 15px;
    right: 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: $white-color;
    padding: 8px 10px;
    text-align: center;
}

img:hover {
    transition: transform .2s;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}