<div class="container">
    <div class="row need-it-fast">
        <div class="col-12 col-lg-6 main-div">
            <div class="rectangle-img">
                <img src="/assets/need-it-fast/need it fast.png">
                <div class="retangle-description">
                    <div class="retangle-description-text">
                        <p class="title">SOFA & CHAIRS</p>
                        <h1 class="heading1">Need it fast?</h1>
                        <p class="subHeading1">See what’s in stock!</p>
                        <p class="shop-now "><a class="text-white" href="#">Shop now</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="row m-0">
                <div class="col-12 col-md-6">
                    <div class="img-items">
                        <img src="/assets/need-it-fast/bedding sets.png">
                        <h4 class="heading">Bedding Sets</h4>
                        <p class="subHeading">Floral Tales Collection</p>
                        <div class="off">20% OFF </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="img-items">
                        <img src="/assets/need-it-fast/Soleil Dining Chair.png">
                        <h4 class="heading">Soleil Dining Chair</h4>
                        <p class="subHeading">lightweight chair</p>
                        <div class="off">20% OFF </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="img-items">
                        <img src="/assets/need-it-fast/living sets.png">
                        <h4 class="heading">Living Sets</h4>
                        <p class="subHeading">Easy-to-match shade of beige.</p>
                        <div class="off">20% OFF </div>
                    </div>
                </div>


                <div class="col-12 col-md-6">
                    <div class="img-items">
                        <img src="/assets/need-it-fast/outdoor sets.png">
                        <h4 class="heading">Outdoor Sets</h4>
                        <p class="subHeading">Simplest design solutions</p>
                        <div class="off">20% OFF </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>