* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham-reg';
}

html {}

body {}

.container {
    max-width: 1270px;
    padding-right: 15px;
    padding-left: 15px;
}